*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
    width: 100%;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

#container {
    max-width: 550px;
    margin: 0 auto;
    flex: 1 1 auto;
    display: grid;
}

/* HEADER */
.icons {
    display: flex;
    justify-content: space-between;
    height: 5em;
    margin: 1em 1.75em;
}

.profile-icon,
.logo,
.chat-icon {
    object-fit: contain;
}

.profile-icon {
    max-width: 2em;
}

.logo {
    max-width: 5em;
}

.chat-icon {
    max-width: 2em;
}


/* START PAGE */
#start-page{
    margin: 3em
}

.start-btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
}

.start-btn{
    font-size: 2rem;
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    border: none;
    border-radius: 1em;
}

.start-btn:hover,
.start-btn:focus{
    background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
}


/* PROFILE */
#card{
    margin: 1em;
}

.pet-profile-wrapper {
    position: relative;
}

.pet-img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1em;
}

.img-wrapper{
    -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0, 0.9) 50%);
}

.pet-info{
    position: absolute;
    left: 4%;
    bottom: 5%;
    z-index: 1;
}

.name-age {
    color: #f8f8f8;
    font-size: 2rem;
    text-shadow: 2px 2px black;
}

.bio {
    color: #B7B7B7;
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
}

/* BUTTONS */
.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

#button-container button {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    border-radius: 50%;
    border: none;
    width: 5.75em;
    height: 5.75em;
    margin: 1.5em 0;
}

#dislike-btn:hover {
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

#like-btn:hover {
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

/* BADGES */
#like-badge,
#dislike-badge {
    display: none;
    position: absolute;
    width: 233px;
    top: 11%;
    left: 5%;
    transform: rotate(-30deg)
}

.outer-wrapper {
    position: relative;
}

/* END MESSAGE */
.end-message {
    font-size: 2rem;
    text-align: center;
}

.end-message a {
    text-decoration: none;
    color: red;
}

/* FOOTER */
footer {
    font-size: 1rem;
    text-align: center;
    padding: 1em;
    flex: 0 1 2em;
}

.hidden{
    display: none;
}